<%- include("partials/header") -%>

<div class="custom-container">
  <!-- TODO need to uppercase first letter in username-->
  <h1>Hello <%=usernameTitle%>!</h1>
  <h5 class="mb-4">What are you trying to complete?</h5>

  <a href="/user/<%=username%>/goal/comm-center" class="all-buttons button-shadows category-button">Community Center</a>
  <a href="/user/<%=username%>/goal/collections" class="all-buttons button-shadows category-button">All Collections</a>
  <% if (username === "ashann") { %>
  <a href="/user/<%=username%>/goal/hidden" class="all-buttons button-shadows category-button">Hidden</a>
  <% } %>

</div>

<%- include("partials/footer") -%>
