<%- include("partials/header") -%>
  <div class="stardew-box-outline mt-4">
    <div class="stardew-box">
      <h1 class="mb-4"><%= goal.name %></h1>

        <form action="/goal/<%= goal.link %>" method="post" id="save">
          <input type="hidden" name="changes" id="changes" value="">
          <input type="hidden" name="goalDBId" value="<%= goal._id %>">

          <div class="row gx-4">
              <!-- category buttons -->
              <div class="nav nav-pills col-md-2 col-xs-12" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <% for (const category of categories) { %>
                  <button class="category-button w-100 p-2" id="v-pills-<%= category.link %>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%= category.link %>" type="button" role="tab"><%=category.title%></button>
                <% } %>

              </div>
              <!-- items buttons -->
              <div class="tab-content col-xs-12 col-md-7 text-start" id="v-pills-tabContent" oncontextmenu="return false;">

                <% for (const category of categories) { %>
                  <div class="tab-pane text-start" id="v-pills-<%= category.link %>" role="tabpanel">
                    <% for (const item of goal.items) { %>
                      <div class="buttons-pane-form">
                        <% if (item.categoryLink === category.link) { %>
                          <% const buttonObject = JSON.stringify(item) %>
                          <button type="button" class="item-button" data-button="<%= buttonObject %>">
                            <img src="/<%= item.imagePath %>">
                          </button>
                        <% } %>
                      </div>
                    <% } %>
                  </div>
                <% } %>

              </div>


              <div class="col-md-3 col-xs-12">
                <div class="text-pane mb-2 d-none d-md-block">
                  <div id="item-info-stay">
                  </div>
                  <div id="item-info-hover">
                  </div>
                </div>

                <button type="submit" class="sb-buttons w-100 p-2">
                  Save
                </button>
        </form>
                <form class="" action="/back" method="post" id="back">
                  <button type="submit" class="sb-buttons w-100 p-2">
                    Back to goals
                  </button>
                </form>

    </div>
  </div>
</div> <!--end of container in header-->
</div>


  <!-- custom js -->
  <script type="text/javascript" src="/javascript/custom.js"></script>

<%- include("partials/footer") -%>
