<%- include("partials/header") -%>
  <div class="loader" id="loader">
    <img src="/images/loading.gif" width="40" class="mb-9">
  </div>
  <h1 class="mt-4">Collections</h1>


  <form action="/user/<%=username%>/collections/save" method="post">
    <div class="row">
      <div class="d-flex align-items-start">

        <!-- category buttons -->
        <div class="nav flex-column nav-pills col-2 me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <% for (const category of categories) { %>
            <button class="all-buttons button-shadows category-button" id="v-pills-<%=category.link%>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%=category.link%>" type="button" role="tab"><%=category.title%></button>
          <% } %>
        </div>

        <!-- items buttons -->
        <div class="tab-content col-7 text-start" id="v-pills-tabContent" oncontextmenu="return false;">
          <% for (const category of categories) { %>
            <div class="tab-pane text-start" id="v-pills-<%=category.link%>" role="tabpanel">

              <% for (const item of items) { %>

                <div class="buttons-pane-form">
                  <% if (item.categoryLink === category.link) { %>
                    <% const buttonObject = JSON.stringify(item) %>
                    <button type="button" class="all-buttons button-shadows item-button" data-button="<%=buttonObject%>">
                      <img src="/<%=item.imagePath%>" width="45">
                    </button>
                  <% } %>
                </div>

              <% } %>

            </div>

        <% } %>
      </div>
      <input type="hidden" name="changes" id="changes" value="">


      <div class="col-3">
        <div class="box text-pane">
          <div id="item-info-stay">
          </div>
          <div id="item-info-hover">
          </div>
        </div>
        <div>
          <button type="submit" class="all-buttons button-shadows w-100 p-2" id="save">
            Save
          </button>
        </div>
      </div>

    </div>
    </div> <!--end of row-->
  </form>


  <!-- custom js -->
  <script type="text/javascript" src="/javascript/custom.js"></script>

<%- include("partials/footer") -%>
